@media only screen and (max-width: 767px) {
    
    .card{
        max-width: 266px;
    }
    
}

.width-100:hover{
    text-decoration: none;
}
.width-100{
    width:100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    text-decoration: none;
}
.justify-center{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    text-decoration: none;
}
.price-text{
    color: red;
    font-weight: 600;
    text-decoration: none;
}
.card-text{
    color: #000;
    text-decoration: none;
}